.custom-select {
    display: inline-block;
    position: relative;
    width: 100%;
}

.select-title {
    background: #1D2E40;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
}

.select-title:after {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 8px 10px;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 15px;
    top: 45%;
    width: 0;
    transition: 0.3s ease;
}

.select-title.active:after {
    border-color: transparent transparent #fff transparent;
    top: calc(45% - 8px);
    transition: 0.3s ease;
}

.select-list {
    background: #1D2E40;
    border-left: 1px solid #a5a5a5;
    border-right: 1px solid #a5a5a5;
    display: none;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: 0.2s linear;
    width: 100%;
    z-index: 999;
}

.select-list.is-open {
    display: block;
    height: auto;
    opacity: 1;
    box-shadow: 0px 1px 5px #ddd;
}

.select-list li {
    border-bottom: 1px solid #ddd;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    transition: all 0.3s ease;
}

.select-list li:hover {
    background: #DEDEDE;
    color: #1D2E40;
    transition: all 0.3s ease;

}

.select-list li.is-selected {
    background: #8E8E8E;
}
